ion-progress-bar {
    height: 10px;
    // border-radius: 20px;
}

ion-card {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.p {
    font-size: x-large;
}

p-r {
    color: white;
    font-size: large;
}

.button {
    margin-right: 15%;
    width: 70%;
}

ion-content {
    background-color: var(--ion-color-primary);
}