<ion-content [fullscreen]="true">
    <ion-card color="primary">
        <ion-card-header>
            <ion-card-title>التقيمات</ion-card-title>

            <p class="ion-text-center p- animate__animated animate__tada animate__delay-.2s">تقيمك الحالي</p>
            <p class="ion-text-center p animate__animated animate__heartBeat animate__delay-.8s">
                <b>4.44</b>
                <ion-icon color="success" name="star"></ion-icon>
            </p>

        </ion-card-header>
        <ion-card-content>


            <!-- <ion-item color="primary"> -->

            <div slot="start" class="animate__animated animate__backInRight animate__delay-.2s">
                <p>5</p>
                <ion-icon color="success" name="star"></ion-icon>
                <ion-progress-bar color="success" value="0.5" size="50"></ion-progress-bar>
            </div>


            <div slot="start" class="animate__animated animate__backInLeft animate__delay-.4s">
                <p>4</p>
                <ion-icon color="success" name="star"></ion-icon>
                <ion-progress-bar color="success" value="0.8" size="50"></ion-progress-bar>
            </div>


            <div slot="start" class="animate__animated animate__backInRight animate__delay-.6s">
                <p>3</p>
                <ion-icon color="success" name="star"></ion-icon>
                <ion-progress-bar color="success" value="0.3" size="50"></ion-progress-bar>
            </div>


            <div slot="start" class="animate__animated animate__backInLeft animate__delay-.8s">
                <p>2</p>
                <ion-icon color="success" name="star"></ion-icon>
                <ion-progress-bar color="success" value="0.1" size="50"></ion-progress-bar>
            </div>


            <div slot="start" class="animate__animated animate__backInRight animate__delay-.10s">
                <p>1</p>
                <ion-icon color="success" name="star"></ion-icon>
                <ion-progress-bar color="success" value=".1"></ion-progress-bar>
            </div>
        </ion-card-content>

        <ion-button class="button" shape="round" color="light">قراءة جميع التقيمات</ion-button>

    </ion-card>

    <!-- <ion-grid fixed>
        <ion-row>
            <ion-col size="3"> -->
    <ion-button color="light">
        <ion-icon color="primary" slot="start" name="add"></ion-icon>
        عرض المراجعات
    </ion-button>
    <!-- </ion-col>
            <ion-col size="3"> -->
    <ion-button color="light">
        <ion-icon color="primary" slot="start" name="add"></ion-icon>
        تفاصيل
    </ion-button>
    <!-- </ion-col>
        </ion-row>
    </ion-grid> -->

</ion-content>