<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">
            الإشعارات</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>الإشعارات و التنبيهات</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-item color="warning" class="animate__animated animate__backInRight animate__delay-.2s">
                <ion-badge slot="start">20</ion-badge>
                <ion-label slot="start">الطلبات</ion-label>
            </ion-item>

            <ion-item color="medium" class="animate__animated animate__backInLeft animate__delay-.5s">
                <ion-badge slot="start">10</ion-badge>
                <ion-label slot="start">الرسائل</ion-label>
            </ion-item>

            <ion-item color="dark" class="animate__animated animate__backInRight animate__delay-.8s">
                <ion-badge slot="start">3</ion-badge>
                <ion-label slot="start">التقيم</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>