.user {
    .connaction {
        font-size: large;
    }
    //     ion-button{
    //         --background: transparent!import;
    //         border: ;
    //     }
}

.icon {
    font-size: larger;
}

p,
ion-card-subtitle,
h3 {
    color: black !important;
    font-size: medium;
}