<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="ion-text-center">
            الملف الشخصي
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item class="animate__animated animate__backInLeft animate__delay-.2s">
        <ion-avatar slot="start">
            <img src="assets/images/profile.jpg" />
        </ion-avatar>
        <ion-label>عمر الإمين الحاج</ion-label>
    </ion-item>

    <ion-list class="animate__animated animate__backInRight animate__delay-.4s">
        <ion-item>
            <ion-icon name="document-attach-outline" color="primary" slot="start"></ion-icon>
            <ion-label>ملف</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="ribbon-outline" color="primary" slot="start"></ion-icon>
            <ion-label>الإشتراكات</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="call-outline" color="primary" slot="start"></ion-icon>
            <ion-label>اتصال بنا</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="finger-print-outline" color="primary" slot="start"></ion-icon>
            <ion-label>سياسة الخصوصية</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="bookmarks-outline" color="primary" slot="start"></ion-icon>
            <ion-label>الأسئلة الشائعة</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="language-outline" color="primary" slot="start"></ion-icon>
            <ion-label>اللغة</ion-label>
        </ion-item>


    </ion-list>



    <ion-footer>
        <!-- <ion-toolbar> -->
        <ion-button (click)="logOut()" class="animate__animated animate__backInLeft animate__delay-.7s" color="light" expand="full">
            <ion-icon color="danger" slot="start" name="log-out"></ion-icon>
            <b> تسجيل الخروج</b>
        </ion-button>
        <!-- </ion-toolbar> -->
    </ion-footer>
</ion-content>