p,
b,
h1 {
    font-family: 'regular'!important;
}

span,
ion-button,
h2,
h3,
h4,
h5,
h6,
ion-item,
ion-label {
    font-family: 'medium' !important;
}

ion-card-subtitle {
    font-family: 'medium' !important;
}

ion-card-title {
    font-family: 'tbold' !important;
}

ion-badge {
    font-family: 'regular'!important;
}