* {
    font-family: medium;
}

.menu-header-bg {
    height: 200px;
    width: 350px;
    background: #50d2c2;
    background: linear-gradient(90deg, #50d2c2, #196f65 100%);
    box-shadow: 0px 1px 10px rgba(80, 210, 194, 0.5);
    transform: rotate(8deg);
    // border-radius: 10px 10px 10px 50px;
    border-radius: 50px 70px 70px 70px;
    margin-right: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content {
    position: absolute;
    top: 30px;
    right: 15px;
    display: flex;
    align-items: center;
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid #479e94;
        margin-left: 14px;
    }
    h2 {
        font-weight: 300;
        color: white;
    }
    p {
        font-size: 12px;
        color: white;
        font-weight: 100;
        letter-spacing: 0.4px;
    }
}

.action-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    ion-button {
        text-transform: capitalize;
        font-weight: 300;
        --background: #479e94;
        --border-radius: 7px;
        --box-shadow: none;
    }
    ion-icon {
        margin-right: 1px;
    }
}

.menu-items {
    margin: 0px;
    ion-icon {
        margin-right: 20px;
        color: black;
    }
    ion-item {
        padding-left: 20px;
        margin-bottom: 10px;
    }
    .active {
        border-left: 5px solid;
        color: blueviolet;
        padding-left: 15px;
    }
    ion-icon {
        color: blueviolet;
    }
}