ion-content {
    ion-col {
        text-align: center;
        ion-icon {
            zoom: 1.8;
            padding: 3px;
            &:first-child {
                zoom: 3.8;
                padding: 1.5px;
            }
        }
        h2,
        h1 {
            margin-top: 0;
        }
        ion-card {
            text-align: center;
        }
        .home-button {
            font-size: 13px;
            position: center;
        }
    }
    p {
        color: white;
        font-weight: bolder;
    }
}